{% extends "base.twig" %}

{% block content %}
  <div class="wrapper wrapper--full">
      {% for work in works %}
        <div class="overlay" id="overlay-{{work.ID}}" style="background-image: url({{work.thumbnail.src}})"></div>
      {% endfor %}
    <article class="post-type-{{post.post_type}}" id="{{post.post_type}}-{{post.ID}}">
      {{ post.content }}
      <nav class="works-nav">
      {% for work in works %}
        <a class="works-nav__link" href="{{work.link}}" data-target="#overlay-{{work.ID}}" alt="{{work.custom['main_description']}}">{{work.post_title}}</a>
      {% endfor %}
      </nav>
    </ul>
    </article>
  </div>
{% endblock %}