{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper" data-template="single-portfolio.twig">
    <article class="portfolio">
      <header class="portfolio__header" style="background-image: url({{post.thumbnail.src}})">
        <h1 class="portfolio__title">{{post.title}}</h1>
      </header>
      <section class="portfolio__body-wrapper">
        <aside class="portfolio__sidebar">
          <nav class="works-nav works-nav--inline">
          {% for work in works %}
            <a class="works-nav__link works-nav__link--blue {% if work.id == post.id %}works-nav__link--current{% endif %}" href="{{work.link}}" data-target="#overlay-{{work.ID}}" alt="{{work.custom['main_description']}}">{{work.post_title}}</a>
          {% endfor %}
          <p class="portfolio__description portfolio__description--show">
            {{ post.meta('main_description') }}
          </p>
          </nav>
        </aside>
        <div class="portfolio__body">
          <div class="portfolio__masonry">
            {% for project in post.meta('projects') %}
              {% for photo in project.photos %}
                <a data-lightbox="{{post.slug}}" href="{{ photo.sizes.large }}" class="portfolio__masonry-item">
                  <picture class="portfolio__masonry-pic" style="padding-top: {{ (photo.sizes['thumbnail-height'] / photo.sizes['thumbnail-width']) * 100 }}%">
                    <img class="portfolio__masonry-img"
                      src="{{photo.sizes.thumbnail|resize(10)}}"
                      data-srcset="{{photo.sizes.thumbnail}} 1x, {{photo.sizes.medium}} 2x"
                      alt="{{ project.description }}">
                  </picture>
                </a>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </section>
    </article>
  </div><!-- /content-wrapper -->
{% endblock %}