{% extends "base.twig" %}

{% block content %}
  <div data-barba="container" data-barba-namespace="portfolio-page" class="{{body_class}}">
    <div class="content-wrapper" data-template="single-portfolio.twig">
      <article class="post-type-{{post.post_type}} portfolio">
        {# <header class="portfolio__header" style="background-image:url({{post.thumbnail.src('hd')}})">
          <h1 class="portfolio__title">{{post.title}}</h1>
        </header> #}
        <section class="portfolio__body-wrapper">
          <aside class="portfolio__sidebar">
            <nav class="works-nav works-nav--inline">
            {% for work in works %}
              <a class="works-nav__link works-nav__link--blue {% if work.id == post.id %}works-nav__link--current{% endif %}" href="{{work.link}}" data-target="#overlay-{{work.ID}}" alt="{{work.custom['main_description']}}">{{work.post_title}}</a>
            {% endfor %}
            </nav>
              <div class="portfolio__masonry">
                <div href="" class="portfolio__masonry-item-sizer"></div>
                {% for project in post.meta('projects') %}
                  {# <!-- {{project|print_f}} --> #}
                  <div class="portfolio__masonry-item portfolio__masonry-item--width3 portfolio__masonry-description" id="{{project.name|slugify}}">
                  <h2>{{project.name}}</h2>
                  {% if project.name != project.description %}
                    <h4>{{project.description}}</h4>
                  {% endif %}
                  </div>
                  {% for photo in project.photos %}
                    <div data-project="{{project.name|slugify}}" data-description="{{project.description}}" data-full-size="{{ photo.sizes.large }}" class="portfolio__masonry-item">
                      <picture class="portfolio__masonry-pic" style="padding-top: {{ (photo.sizes['thumbnail-height'] / photo.sizes['thumbnail-width']) * 100 }}%">
                        <img class="portfolio__masonry-img"
                          src="{{photo.sizes.thumbnail|resize(10)}}"
                          srcset="{{photo.sizes.medium}} 1x, {{photo.sizes.large}} 2x"
                          {# data-webp-srcset="{{photo.sizes.thumbnail|towebp}} 1x, {{photo.sizes.medium|towebp}} 2x" #}
                          alt="{{ project.description }}">
                      </picture>
                    </div>
                  {% endfor %}
                  {% if project.photos|length > 1 %}
                  <div class="portfolio__masonry-item portfolio__masonry-view-more portfolio__masonry-item--active" data-project="{{project.name|slugify}}">
                    <a href="#{{project.name|slugify}}">View all +</a>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
          </aside>
          <div class="portfolio__body">
            <div class="gallery">
              <div class="gallery__frame">
                <img class="gallery__photo"
                  src="{{post.meta('projects')[0].photos[0].sizes.hd}}"
                  {# data-webp-srcset="{{photo.sizes.thumbnail|towebp}} 1x, {{photo.sizes.medium|towebp}} 2x" #}
                  alt="{{ post.meta('projects')[0].description }}">
              </div>
              <div class="gallery__description">{{ post.meta('projects')[0].description }}</div>
            </div>
          </div>
        </section>
      </article>
    </div><!-- /content-wrapper -->
  </div>
{% endblock %}
